@page "/forgot-password"
@using SharedKernel.Models

<h3>Forgot Password</h3>
<EditForm Model="_forgotPasswordModel" OnValidSubmit="ForgotPasswordCall">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Email:</label>
        <InputText @bind-Value="_forgotPasswordModel.Email" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private HttpClient _httpClient;
    private ForgotPasswordModel _forgotPasswordModel = new ForgotPasswordModel();
    protected override async Task OnInitializedAsync()

    {
        _httpClient = new HttpClient();
    }

    private async Task ForgotPasswordCall()
    {
        var response = await _httpClient.PostAsJsonAsync("/api/forgot-password", _forgotPasswordModel);
        if (response.IsSuccessStatusCode)
        {
            // Handle success (e.g., navigate to login page or display success message)
        }
        else
        {
            // Handle error (e.g., display error message)
        }
    }
}