@inherits LayoutComponentBase
@layout Identity.Components.Layout.MainLayout

<PageTitle>Gestão de Conta</PageTitle>
<h1>Gestão de Conta</h1>

<div>
    <h2>Mude as configurações da sua conta</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
