@using Microsoft.AspNetCore.Components.Authorization
@using SharedKernel.DTO
@using Web.InMemory
@inherits LayoutComponentBase
@inject EstabelecimentoService EstabelecimentoService

<div class="page">
    <div class="sidebar">
        <NavMenu />

    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <!-- Top-right corner div -->
    <div class="top-right-corner">
        <!-- Content for the top-right corner -->
        <p>@(EstabelecimentoService.SelectedEstabelecimento?.Denominacao ?? "Selecionar Estabelecimento")</p>
    </div>
</div>

@code{
    private EstabelecimentoDTO SelectedEstabelecimento => EstabelecimentoService.SelectedEstabelecimento;
}
