@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Weges</PageTitle>

<h1>Weges, página de entrada!</h1>

@* <AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView> *@