@page "/dossierlicenciamento/{estabelecimentoId:long}"
@using WebApp.Components.Shared
@using WebApp.InMemory
@using Microsoft.AspNetCore.Authorization
@using SharedKernel.DTO
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle> Dossier de Licenciamento </PageTitle>
<h3> Dossier de Licenciamento </h3>

<Card>
    <CardHeader>
        <h5> Cópia de cartão NIPC </h5>
    </CardHeader>
    <CardBody>
        @if (CartaoNipc == null)
        {
            <FileUploadButton SelectedFileChanged="OnCartaoNipcFileSelected" Label="Anexar Ficheiro" />
        }
        else
        {
            <Button Class="btn btn-outline-dark" @onclick="DownloadCartaoNipc">
                Download Ficheiro
                <Icon Name="IconName.Download" />
            </Button>
        }
        <Button @onclick="UploadCartaoNipc" Disabled="@(!IsCartaoNipcSelected)" Class="btn btn-dark">Guardar Cartão</Button>
    </CardBody>
</Card>
<Card>
    <CardHeader>
        <h5> Alvará de utilização </h5>
    </CardHeader>
    <CardBody>
        
    </CardBody>
</Card>
<Card>
    <CardHeader>
        <h5> Medidas de Autoproteção (ANPC) </h5>
    </CardHeader>
    <CardBody>
        
    </CardBody>
</Card>
<Card>
    <CardHeader>
        <h5> Parecer ANPC </h5>
    </CardHeader>
    <CardBody>
        
    </CardBody>
</Card>