<div class="row">
    <span class="col-md-6">
        <Card Style="width:18rem;">
            <CardBody>
                <CardTitle>Certificado de Registo ERS</CardTitle>
                @if (CertificadoErs is not null)
                {

                    <div class="form-floating mb-3">
                        <input id="nrCertificado" class="form-control" type="text" @bind-value="CertificadoErs.NrCertificado" />
                        <label class="form-label" for="nrCertificado">Nº do certificado</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="periodo" class="form-control" type="text" @bind-value="CertificadoErs.Periodo" />
                        <label class="form-label" for="periodo">Período</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="expiracao" class="form-control" type="date" @bind-value="CertificadoErs.DataExpiracao" />
                        <label class="form-label" for="expiracao">Data de expiração</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="taxa" class="form-control" type="date" @bind-value="CertificadoErs.DataExpiracaoTaxa" />
                        <label class="form-label" for="taxa">Data de expiração taxa</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="observacoes" class="form-control" type="text" @bind-value="CertificadoErs.Observacoes" />
                        <label class="form-label" for="observacoes">Observações</label>
                    </div>
                    @if (CertificadoErs.FicheiroId > 0)
                    {
                        <Button Class="btn btn-outline-dark" @onclick="DownloadCertificadoErs">
                            Download Ficheiro
                            <Icon Name="IconName.Download" />
                        </Button>
                    }
                    else
                    {
                        <FileUploadButton SelectedFileChanged="OnCertificadoFileSelected" Label="Carregar Ficheiro" />
                    }
                    <Button @onclick="UploadCertificado" Disabled="@(!IsCertificadoFileSelected)" Class="btn btn-dark">Guardar Certificado</Button>
                }
            </CardBody>
        </Card>
    </span>
    <span class="col-md-6">
        <Card Style="width:18rem;">
            <CardBody>
                <CardTitle>Licença de Funcionamento ERS</CardTitle>
                @if (LicencaErs is not null)
                {
                    <div class="form-floating mb-3">
                        <input id="nrLicenca" class="form-control" type="text" @bind-value="LicencaErs.NrLicenca" />
                        <label class="form-label" for="nrLicenca">Nº de Licença</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="observacoes" class="form-control" type="text" @bind-value="LicencaErs.Observacoes" />
                        <label class="form-label" for="observacoes">Observações</label>
                    </div>

                    @if (LicencaErs.FicheiroId > 0)
                    {
                        <Button Class="btn btn-outline-dark" @onclick="DownloadLicencaErs">
                            Download Ficheiro
                            <Icon Name="IconName.Download" />
                        </Button>
                    }
                    else
                    {
                        <FileUploadButton SelectedFileChanged="OnLicencaFileSelected" Label="Carregar Ficheiro" />
                    }
                    <Button @onclick="UploadLicenca" Disabled="@(!IsLicencaFileSelected)" Class="btn btn-dark">Guardar Licença</Button>
                }
            </CardBody>
        </Card>
    </span>
</div>