@if (Estabelecimento == null)
{
    <span>O estabelecimento não existe</span>
}
else
{
    <MudGrid Class="py-2">
        <MudItem xs="8">
            <MudTextField @bind-Text="Estabelecimento.Denominacao" T="string" Label="Denominação" />
        </MudItem>
        <MudItem xs="4">
            <MudTextField @bind-Text="Estabelecimento.Sigla" T="string" Label="Sigla" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Text="Estabelecimento.Morada" T="string" Label="Morada" />
        </MudItem>

        <MudItem xs="6">
            <MudDatePicker @bind-Date="Estabelecimento.InicioAtividade" Label="Início de Atividade" />
        </MudItem>
        <MudItem xs="6">
            <MudTextField @bind-Text="Estabelecimento.Email" T="string" Label="Email" />
        </MudItem>
        <MudItem xs="6">
            <MudTextField @bind-Text="Estabelecimento.Telefone" T="string" Label="Telefone" />
        </MudItem>
        <MudItem xs="6">
            <MudTextField @bind-Text="Estabelecimento.TipoPrestador" T="string" Label="Tipo de Prestador" />
        </MudItem>
        <MudItem xs="12">
            <SaveBackControl OnClickSaveEventHandler="SaveEstabelecimento" OnClickBackEventHandler="GoBackToEstabelecimentos" />
        </MudItem>
    </MudGrid>
}