@page "/tipologias"
@using Microsoft.AspNetCore.Authorization
@using SharedKernel.DTO
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Tipologias</PageTitle>
<h3>Tipologias <MudButton Type="ButtonType.Button" Color="@Color.Dark" @onclick="AddTipologia" EndIcon="@Icons.Material.Filled.Add" /></h3>

<MudTable Items="Tipologias"
          Class="table table-hover table-bordered table-striped">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Tipologia</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <MudButton Class="btn btn-dark" @onclick="() => NavigateToDetails(context.Id)" EndIcon="@Icons.Material.Filled.Edit" />
        </MudTd>
        <MudTd DataLabel="Nr">@context.Nome</MudTd>
    </RowTemplate>
</MudTable>