<div>
    <SaveButton LabelText="@SaveLabelText" OnClickEventHandler="@OnClickSaveEventHandler"/>
    <BackButton LabelText="@BackLabelText" OnClickEventHandler="@OnClickBackEventHandler" />
</div>

@code{
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickSaveEventHandler { get; set; }
    [Parameter]
    public string SaveLabelText { get; set; } = "Guardar";

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickBackEventHandler { get; set; }
    [Parameter]
    public string BackLabelText { get; set; } = "Voltar";
}