@page "/Estabelecimentos/{EstabelecimentoId:long}/DirecaoClinica"
@* @page "/Estabelecimentos/{EstabelecimentoId:long}/DirecaoClinica/{DirecaoClinicaId:long}" *@

@using SharedKernel.DTO

<PageTitle>Direção Clínica </PageTitle>
<div class="mb-3">
    <div class="form-floating mb-3">
        <input id="nome" class="form-control" type="text" @bind="DirecaoClinica!.Nome" />
        <label class="form-label" for="nome">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input id="identificacao" class="form-control" type="text" @bind="DirecaoClinica!.Identificacao" />
        <label class="form-label" for="identificacao">Identificação</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" @bind="DirecaoClinica!.ValidadeIdentificacao" id="validade" class="form-control" />
        <label class="form-label" for="validade">Validade</label>
    </div>

    <div class="form-floating mb-3">
        <input id="cargo" class="form-control" type="text" @bind="DirecaoClinica.Cargo" />
        <label class="form-label" for="cargo">Cargo</label>
    </div>
    <div class="form-floating mb-3">
        <input id="cedula" class="form-control" type="text" @bind="DirecaoClinica.Cedula" />
        <label class="form-label" for="cedula">Cédula</label>
    </div>
    <div class="form-floating mb-3">
        <input id="ordem" class="form-control" type="text" @bind="DirecaoClinica.Ordem" />
        <label class="form-label" for="ordem">Associação Profissional/Ordem</label>
    </div>
    <div class="form-floating mb-3">
        <input id="tipologia" class="form-control" type="text" @bind="DirecaoClinica.Tipologia" />
        <label class="form-label" for="tipologia">Tipologia</label>
    </div>
    <div class="form-floating mb-3">
        <input id="observacoes" class="form-control" type="text" @bind="DirecaoClinica.Observacoes" />
        <label class="form-label" for="observacoes">Observações</label>
    </div>
    <Button Class="btn btn-success" @onclick="SaveDirecaoClinica">Guardar</Button>
    <Button Class="btn btn-danger" @onclick="GoBackToEstabelecimento">Cancelar</Button>
</div>