@using Microsoft.AspNetCore.Components;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Threading.Tasks;
@using Services
@using SharedKernel.DTO
@using SharedKernel.Models
@inject NavigationManager navigationManager
@inject IdentityService userService
@page "/register"

<h3>Registar</h3>
<div class="mb-3">
    <div class="form-floating mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" @bind="registerModel.Email" type="email" />
    </div>
    <div class="form-floating mb-3">
        <label class="form-label">Palavra-passe</label>
        <input class="form-control" @bind="registerModel.Password" type="password" />
    </div>
    <div class="form-floating mb-3">
        <label class="form-label">Confirmar Palavra-passe</label>
        <input class="form-control" @bind="registerModel.ConfirmPassword" type="password" />
    </div>
    <button class="btn btn-dark" @onclick="HandleRegisterAsync">Registar</button>
    <div>Se já tem conta autentique-se <a href="/login">aqui.</a></div>
</div>
@if (successMessage != null)
{
    <p style="color: green">@successMessage</p>
}
@if (errorMessage != null)
{
    <p style="color: red">@errorMessage</p>
}
@code {
    private WegesLoginDTO registerModel = new();
    private string? successMessage;
    private string? errorMessage;



    private async Task HandleRegisterAsync()
    {
        var result = await userService.RegisterUserAsync(registerModel);
        if (result)
        {
            successMessage = "Registo com sucesso!";
            errorMessage = null;
        }
        else
        {
            successMessage = null;
            errorMessage = "Registo falhado. Por favor tente de novo.";
        }
    }
}