@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Palavra-passe esquecida confirmação</PageTitle>

<h1>Palavra-passe esquecida confirmação</h1>
<p role="alert">
    Por favor verifique o seu email para repor a sua palavra-passe.
</p>
