@page "/Account/InvalidPasswordReset"

<PageTitle>Reposição de palavra-passe inválida</PageTitle>

<h1>Reposição de palavra-passe inválida</h1>
<p role="alert">
    O link de reposição de palavra-passe é inválido.
</p>
