@page "/Account/Lockout"

<PageTitle>Conta bloqueada</PageTitle>

<header>
    <h1 class="text-danger">Conta bloqueada</h1>
    <p class="text-danger" role="alert">Esta conta foi bloqueada, por favor contacte um administrador.</p>
</header>
