@page "/Account/Logout"
@using ApiModel.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<WegesUser> SignInManager
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Terminar Sessão</PageTitle>
<h1>Terminar Sessão</h1>
<RedirectToLogin />

@code {
    
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
    }
}
