@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmação de reposição de palavra passe</PageTitle>

<h1>Confirmação de reposição de palavra passe</h1>
<p role="alert">
    A sua palavra passe foi reposta pode <a href="Account/Login">clicar aqui para entrar</a>.
</p>
