@page "/entidade/{Id:long}"

<PageTitle>Entidade</PageTitle>

<Tabs EnableFadeEffect="true">
    <Tab Title="Dados" Active="true">
        <Content>
            <div class="row">
                <div class="col-md-7">
                    <label>Denominação</label>
                    <p>@entidade?.Denominacao</p>
                </div>
                <div class="col-md-5">
                    <label>NIF/NIPC</label>
                    <p>@entidade?.NifNipc</p>
                </div>
                <div class="col-md-7">
                    <label>Morada</label>
                    <p>@entidade?.Morada</p>
                </div>
                <div class="col-md-5">
                    <label>Nº de registo ERS</label>
                    <p>@entidade?.NrERS</p>
                </div>
                <div class="col-md-7">
                    <label>Contato telefónico</label>
                    <p>@entidade?.Telefone</p>
                </div>
                <div class="col-md-5">
                    <label>Endereço de email</label>
                    <p>@entidade?.Email</p>
                </div>
                
                <div >
                    <label>Sigla</label>
                    <p>@entidade?.Sigla</p>
                </div>
            </div>
        </Content>
    </Tab>
    <Tab Title="Administração">
        <Content>
            <p>Content for Tab 1</p>
        </Content>
    </Tab>
    <Tab Title="Acessos">
        <Content>
            <p>Content for Tab 1</p>
        </Content>
    </Tab>
</Tabs>