@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Identity.Abstractions
@using Microsoft.Identity.Web
@using System.Text.Json
@using weges_v2.SharedKernel.DTO

@page "/entidades"

<PageTitle>Entidades</PageTitle>

<h3>Entidades</h3>

<Grid TItem="EntidadeDTO"
      Class="table table-hover table-bordered table-striped"
      DataProvider="EntidadesDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="10"
      AllowSorting="true"
      SelectionMode="GridSelectionMode.Multiple"
      SelectedItemsChanged="OnSelectedItemsChanged"
      Responsive="true">

    <GridColumns>
        <GridColumn TItem="EntidadeDTO" HeaderText="" PropertyName="Id" Filterable="false">
                <Button Class="btn btn-dark" @onclick="() => NavigateToDetails(context.Id)">Selecionar</Button>
        </GridColumn>
        <GridColumn TItem="EntidadeDTO" HeaderText="Sigla" PropertyName="Sigla" SortKeySelector="item => item.Sigla">
            @context.Sigla
        </GridColumn>
        <GridColumn TItem="EntidadeDTO" HeaderText="Denominação" PropertyName="Denominacao" SortKeySelector="item => item.Denominacao">
            @context.Denominacao
        </GridColumn>
        <GridColumn TItem="EntidadeDTO" HeaderText="Nif" PropertyName="NifNipc" SortKeySelector="item => item.NifNipc">
            @context.NifNipc
        </GridColumn>
        <GridColumn TItem="EntidadeDTO" HeaderText="Email" PropertyName="Email" SortKeySelector="item => item.Email">
            @context.Email
        </GridColumn>
    </GridColumns>
</Grid>